#upper-body {
  background: linear-gradient(to bottom, white, rgba(220, 246, 239, 1));
  display: block;
  padding-bottom: 10px;
}

h4 {
  display: block;
  padding: 15px 15px 15px 15px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  color: white;
  background-color: #5e5e5e;
  font-family: Helvetica, Sans-Serif;
  font-size: 13px;
}

h4:hover {
  color: #00b0b2;
}

form {
  width: 275px;
  box-shadow: 0px 0px 10px 0px #00b0b2;
  display: block;
  padding-bottom: 20px;
  margin-top: 10%;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
}

button {
  color: white;
  background-color: orange;
  height: 36px;
  width: 45%;
  padding: 10px 20px 10px 20px;
  border-width: 0px;
  border-radius: 18px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

input {
  display: block;
  padding: 10px;
  border-radius: 3px;
  border-color: #cfd4d4;
  border-top-width: 1px;
  margin-left: auto;
  margin-right: auto;
  width: 75%;
}

input:valid {
  background-color: #DCF6EF;
}

#lower-body {
  background: rgba(220, 246, 239, 1);
  display: block;
  padding-top: 10px;
  height: 400px;
}

#copy {
  width: 275px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  border: solid #7ab443 1px;
}

#border-text {
  font-size: 11px;
  font-family: Helvetica, Sans-Serif;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  margin-top: -3%;
  background-color: #dcf6ef;
  display: block;
  text-align: center;
}

#inner-copy {
  background-color: rgba(255,255,255, 0.6);
  margin-left: 15px;
  margin-right: 15px;
  padding-right: 15px;
  padding-left: 15px;
  padding-top: 10px;
  margin-bottom: 10px;
  font-family: Helvetica, Sans-Serif;
}

#copy-title {
  font-size: 13px;
  margin-top: 4px;
  margin-bottom: 8px;
  color: #5e5e5e;
}

#copy-text {
 font-size: 10px;
 margin-top: 0px;
 padding-bottom: 40px;
 color: #5e5e5e;
 font-family: Helvetica, Sans-Serif;
}

#ad {
  font-size: 10px;
  margin-top: 0px;
  margin-bottom: 0px;
  color: #7ab443;
  font-family: Helvetica, Sans-Serif;
}
