html body{
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  margin: 0;
}
body {
  font-family: Arial;
  color: #545253;
  background-color: #def9fc;
}

form {
  width: 404px;
  height: 394px;
  box-shadow: 0px 2px 4px 1px #BDB9B9;
  display: block;
  margin-top: 113px;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
}

input {
  width: 308px;
  height: 48px;
  font-size: 16px;
  font-family: Arial;
  color: #747375;
  border-radius: 4px;
  border-width: 1px;
  margin: 0px 0px 20px 0px;
  padding: 0px 15px 0px 15px;
  box-shadow: 0px 1px 2px 0px #D8D8D8;
}

input:valid {
  background-color: #DCF6EF;
}

button {
  color: white;
  background-color: #F6931D;
  height: 48px;
  width: 201px;
  padding: 10px 20px 10px 20px;
  margin: 0px 68px 0px 69px;
  border-width: 0px;
  border-radius: 24px;
  font-size: 16px;
  font-weight: bold;
  font-family: Arial;
  cursor: pointer;
}

.background-pattern {
  background:url('BG.png');
  height: 100%;
  width: 100%;
  position: absolute;
  background-repeat: repeat-x;
  margin: 0px;
}

.form-header {
  display: block;
  padding: 14px 0px 18px 0px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0px;
  margin-bottom: 0px;
  text-align: center;
  color: #FFFFFF;
  line-height: 24px;
  background-color: #5e5e5e;
  font-size: 18px;
  font-weight: bold;
}

.inputs {
  padding: 29px 33px 27px 33px;
}

.copy {
  width: 404px;
  height: 235px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 38px;
  background-image: url('Rectangle 2.png');
  /*border: solid #A0BC57 2px;*/
}


.border-text {
  font-size: 15px;
  font-weight: bold;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  top: -8px;
  margin-top: 0px;
  margin-bottom: 0px;
  text-align: center;
}

.inner-copy {
  position: fixed;
  background-color: #FFFFFF;
  opacity: .75;
  height: 191px;
  width: 322px;
  margin: 0px 21px 15px 20px;
  padding: 12px 20px 0px 21px;
  font-size: 14px;
}

.copy-title {
  font-size: 20px;
  margin-top: 4px;
}

.copy-text {
 font-size: 14px;
 margin-top: 13px;
}

.ad {
  font-size: 12px;
  font-weight: bold;
  color: #A0BC57;
  margin: 0px 213px 0px 0px;
}

.link {
  font-size: 14px;
  color: #6EB7C2;
  font-weight: bold;
  text-decoration: none;
  cursor: pointer;
}
